<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <div class="container justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.svgporn.com/logos/gusto.svg" width="30" height="30" alt="">
        </a>
    </div>
</nav>



<div class="container mt-5">
    <div class="row mt-5 justify-content-center">

        <div class="col-6">
            
            <h2> Iniciar Sesion Calificacion</h2>
           
            <form id="loginForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input  name="username"  [(ngModel)]="email" placeholder="Email" type="email" class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                        <label for="inputPassword">Password</label>
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="inputPassword" placeholder="Password">

                </div>
                

                <button  id="btnSubmit" type="submit" (click)="login()" class="btn btn-outline-primary btn-block">Iniciar Sesion</button>
                <button  type="submit" (click)="registrarse()" class="btn btn-outline-success btn-block">Registrarse</button>
            </form>
        </div>


    </div>
</div>

